candle/__pycache__/
candle/management/commands/__pycache__/
candle/migrations/__pycache__/
candle/models/__pycache__/
candle/serializers/__pycache__/
candle/views/__pycache__/
candle_project/__pycache__/
candle_project/media/blog_images
candle_project/media/product_images
candle_project/media/user_images